.admin-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 227, 239);
    padding: 20px;
}
.counter-div{
    border: 2px solid #bfbfbf;
    width: 550px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}
.countnum{
    color: blue;
    font-weight: bold;
}
.count{
    
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}
.stores-list{
    align-self: flex-start;
}
.searchuser{
    margin: 10px;
}
.list{
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 4px #cfdae9;
}
.title{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
}
span{
    font-family:  Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.addform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #ffffff;
    width: 400px;
    height: 230px;
    border-radius: 10px;
}
.list-horiz{
    display: flex;
}

ol{
    display: flex;
    flex-wrap: wrap;
}